<h2><%= @place.name %></h2>
<p>
  Sizin eklediğiniz <%= @place.name %> isimli restaurantınıza yeni bir rezervasyon yapıldı.
</p>
<p>
  Restaurantınıza <%= link_to "Buradan", place_url(@place) %> ulaşabilirsiniz.
</p>
<p>
  Bol Kazançlar.
</p>