<h1>Create a new Place</h1>

<% if @place.errors.any? %>
    <h3>
      <%= @place.errors.full_messages.join(", ") %>
    </h3>
<%end%>

<form action="<%=places_path%>" method="post"><br />
  <%= render "form" %>
</form>
<%= link_to "Back to Places List", places_path %><br />